---
title:"Android Studioで無線LANを使ってビルドする"
date:"2018-09-14"
category:"blog"
---
adbがある場所へ移動。
`cd ~/Library/Android/sdk/platform-tools`

空いているテキトーなポートを指定。
`./adb shell setprop service.adb.tcp.port 8888`

おまじない。
`./adb tcpip 8888`

AndroidのLANのIPアドレスを入力して、接続する。
`./adb connect 192.168.100.100:8888`

以上でUSB接続しなくても、Android Studio上で端末が認識さている。無線でデバッグできるようになってとても便利だ。