---
title:"client denied by server configurationエラー"
date:"2018-09-02"
category:"blog"
---
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180901/20180901094614.png
Apache のエラーログで「client denied by server configuration:」と出た時の対処法。放っておいても問題はなさそうだが、Apacheのエラーログを見やすくしたいため細かいエラーを徹底的になくしていく。
バーチャルホストでの運営なので、バーチャルホストの設定ファイル、virtualhost.conf を開く。

「Require all granted」を記述するする。
```
<VirtualHost *:80>
        ServerName hogehoge.xxxxxxxxx.com
        DocumentRoot /somewhere/hogehoge
        &lt;Directory "/somewhere/hogehoge">
            Require all granted
        &lt;/Directory>
<VirtualHost>
```

Apache 再起動。
`/etc/rc.d/init.d/httpd restart`

これで解決したと思ったが、今度は下記のようなエラーが出てしまった。
`configuration error:  couldn't perform authentication. AuthType not set!:`

「Require all granted」はApache2.4系の書き方のようだ。
でApacheのバージョンを確認してみる。
`httpd -v`

やはり2.4以前のバージョンがインストールされていた。
この場合「Require all granted」ではなく、「Order allow,deny」「Allow from all」と書くようだ。
なので、最終的な書き方は次のようになる。
```
<VirtualHost *:80>
        ServerName hogehoge.xxxxxxxxx.com
        DocumentRoot /somewhere/hogehoge
        &lt;Directory "/somewhere/hogehoge">
            Order allow,deny
            Allow from all
        &lt;/Directory>
</VirtualHost>
```

これで解決！と思ったが、またエラーが出てしまった。
`client denied by server configuration:`

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/4797380942/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4797380942&linkCode=as2&tag=101010fun-22&linkId=872638ff825350ab40e56586340a0fd7"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4797380942&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=4797380942" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />