---
title:"「Chazuke S」のお知らせ"
date:"2018-12-13"
category:"chazuke"
app-id:"548910815"
---
## お知らせ
今までご利用いただいているChazukeに関してお知らせです。

諸事情により、現在の『Chazuke』はこれ以上アップデートしない方向で考えております。
その代わり『Chazuke S』と言うものを新しくリリースする方向で動いております。機能や操作性は現在のものとほとんど変わりませんが、一からプログラミングを書き直したことにより、メンテナンス性の向上、ニコ生の新仕様に対応しているため不具合にも対応しやすくなりました。リリース予定は来年1月を目処に開発中です。


## 『Chazuke S』で改善されていること
1. 二段階認証に対応しました
2. 自分の放送コミュの取得が速くなりました
3. lv番号で直接放送コメ読みできます
4. BluetoothA2DP、AirPlayでの棒読み対応を行いました


## 『Chazuke S』での要望、課題
* 立ち見放送もコメ取得したい
> 未確認ですが、ニコ生の新仕様によりアリーナ、立ち見の区別が既になくなっているかもしれません。
https://dwango.github.io/niconico/jikken-housou/comment/
* 背景色ではなくテキストに色付けしたい


## 困難な対応に関して
* 棒読みちゃんにコメントを読ませながら配信すると、プツプツノイズが入ってしまう
この問題の件に関して取り組んできましたが、Chazukeアプリ側での改善は難しそうです。
ニコ生アプリまたはiOSの仕様上の問題のようです。
配信者さん側でできる対応としましては、「イヤフォンを使う」、「２台持ちで配信とコメビュを分ける」、「棒読みちゃんを使わない」などの選択が考えられます。
