---
title:"Chazuke ニコニコ生放送 コメビュ – よくある質問 FAQ"
date:"2017-05-18"
category:"chazuke"
app-id:"548910815"
---
image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729131316.jpg

{{chazuke_download}}

「Chazuke」はiPhone、iPad専用のニコニコ生放送のコメントビューアーです。
ここではよくある質問をまとめていきます。


## ログインできません（その１）
２段階認証に対応していないため、Chazukeのログインに失敗することがあります。お手数ですが、公式サイトから「アカウント設定」→「セキュリティ設定」と進み、２段階認証を無効に設定して試してください。

## ログインできません（その２）
TwitterなどのSNSのアカウントで登録していませんか？Chazukeでログインできるのはniconicoにメールアドレスで登録した方のみが利用できる様になっています。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729131359.jpg


## ChazukeのBGMはリスナーには聴こえないのですか？
基本的には聴こえません。ステミキのような機能がiOSにはないため、現状BGMは配信音声には含まれません。ただし、BGMをスピーカーから出している場合、マイクがその音を拾ってリスナーにも聴こえるということはあります。

## バックグラウンドでコメントが通知されません。
Chazukeの設定で「バックグラウンド通知」をオンにしてください。それでも機能しない場合は、iOSの「設定」アプリを開き、「通知」→「Chazuke」→「通知を許可」をオンにしてください。
★オススメの設定！
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729131411.jpg


## Chazukeからは放送できないのですか？
できません。Chazukeはニコ生で現在放送されている番組のコメントを表示＆読み上げるコメントビューアー専用アプリです。


## 他のアプリのサウンドが聴こえなくなった。
ホームボタンをダブルタップしてChazukeを上にスワイプし、メモリから開放してみてください。
また同様に不具合のあるアプリも一旦メモリ解放してから再度起動してみてください。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729131438.jpg

それでも治らない場合は、iOS自体を再起動してみてください。

## コテハンが登録されません。
Chazukeの設定の「コテハン自動登録(＠名前)」をオンにしてください。また、「コテハン上書き許可」がオフになっていると、すでにコテハンが登録さているリスナーさんが「＠コテハン」とコメントしても新しいコテハン名になりません。「ユーザーネーム自動取得」がオンになっている場合、バッティングして「＠コテハン」が登録されない場合があります。必須でなければオフにしてください。

★オススメの設定！
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729131454.jpg


## 放送中のコミュが表示されません。
パソコンや公式アプリとの併用時に、Chazuke側のログイン情報が古くなってしまい放送中番組の情報が得られないことがあります。そのような場合はChazukeの設定から再度ログイン後、放送中コミュのリロードボタンを押して更新してください。

{{chazuke_download}}