---
title:"ChiMAKi(仮)"
date:"2018-12-20"
category:"oss"
---
image:/images/chimaki.jpg

## ChiMAKiプロジェクトとしてオープンソースにすることにしました
https://github.com/araemon/chimaki

ChiMAKiはiOSアプリ開発のためのswiftライブラリです。
後の事を考えず、勢いでアプリ開発を進めていくと、後々積んでしまいます。スパゲッティコードになってしまったら、メンテナンスもやる気がせず、だんだん開発から離れていってしまいます。 そうならないためにも、痒いところに手が届くような小さなKitを作っていくことにしました。 ネイティブメソッドを抽象化するラッパークラス群です。

### Chill out! Make Application Kit!
「（アプリを作る前に）落ち着いて！アプリ開発のためのキットを作って！」というような意味を込めてChiMAKIと名付けています。
