---
title:"フレッシュネスバーガー風！スパムサンドの作り方 ホットサンドレシピの紹介-その1"
date:"2018-07-30"
category:"blog"
---
image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181121/20181121173111.jpg

## 材料
食パン、卵、スパム、千切りキャベツ、マヨネーズ、テリヤキソース（酒、醤油、みりん、砂糖）


## 栄養成分
|                | 食パン | スパム | 卵   | マヨ | テリヤキソース | 合計 |
| -------------- | ------ | ------ | ---- | ---- | -------------- | ---- |
| カロリー(kcal) | 328    | 272    | 91   | 168  | 99.5           | <b>959kcal</b>  |
| タンパク質(g)  | 9.8    | 10.2   | 7.38 | 0.36 | 1.415          | <b>29g</b>   |
| 脂質(g)        | 5.2    | 24.65  | 6.18 | 18   | 0              | <b>54g</b>   |
| 炭水化物(g)    | 60.6   | 1.7    | 0.18 | 1    | 19.625         | <b>83g</b>  |
| ナトリウム(mg) | 1.4    | 595    | 84   | 166  | 915.39         | <b>1762mg</b> |

キャベツの成分は非常に小さいので無視した。


##  作り方（手順）
1. フライパンでスパムを両面焼く。
2. スパムをいったん取り出し、スパムから出た油を利用して、卵を両面焼く。
3. テリヤキソースを軽く煮つめ、1のスパムとからめる。
4. 食パンの両面にマヨネーズを塗り、スパム、卵、キャベツの順でホットサンドメーカーの上にのせていく。
5. ゆっくりはさんで中火で、両面を2分ずつ焼いて完成。

※はさむときに、少しくらい具材がはみだしてもかまわない。


## あとがき
昔、フレッシュネスバーガーでアルバイトをしていたことがあった。働いていたお店では、まかない飯として半額で店内の商品を買えることになっていた。バイトの始めたては、テリヤキチキンバーガーやチーズバーガーなどの王道なメニューばかりを食べていた。しかし、これも食べなれてくると他のメニューに冒険したくなるもの。

「オムレツバーガー」

自分がお客だったら、まず選ばないハンバーガーだろう。そういったものにあえて挑戦してみるのだ。

するとどうだろう。ふわっとしたオムレツ感と、トマトケチャップの黄金比。悪くない。それどころかうまいぞ、オムレツバーガー。

いうまでもなく、その後しばらくはオムレツバーガーにのお世話になった。

そうやって、しまいにサンドイッチへ手をだすようになったらもう上級者だろう。現在はそれは売っていないが、昔はスパムサンドイッチやハムサンドイッチというメニューがあった。中でも特に、ハムサンドイッチは素晴らしかった。

長方形の白いバンズをトースターで焼いて、そこに1cm四方に薄く切られたハムをふわっとのせる。玉ねぎスライスとレタス、トマト、マヨネーズ、そしてドレッシングをかける。マヨネーズと酸味の効いたドレッシングの絶妙な組み合わせ。それがたまらなかった。もう、あの味が楽しめないのかと思うと非常に残念だ。

サンドイッチも食べあきると、不思議なことに、トマトのフレッシュネスバーガーが一番おいしく思えてくる。これが、一周まわったってことだろう。

そんな思い出の中で、スパムサンドなら自分でも真似できそうだと思い、記憶を頼りにホットサンドメーカーで挑戦してみた。


食べてみた感想は、味がどうのこうのというより、フレッシュネスバーガーのスパムサンドと何かが異なることが気になった。パン生地が、バンズではないので違うのは当然だ。しかし、それを抜きに何かが違う。

キャベツ。そうだ、キャベツにシャキシャキ感がないのだ。

フレッシュネスバーガーの場合、「バンズを焼いから」シャキシャキのキャベツをはさむ。それに対してこちらのホットサンドは、キャベツをはさんで焼いてしまっているのでキャベツ自体が温まっている。当然、キャベツのシャキシャキ感失うこととなる。まぁ、お好み焼きのようだと思えば、これもこれでありなのだが。

このように、実際に料理をしてみるといろいろな発見があっておもしろい。味だけでなく、食感や温度といったものまで配慮しなければならないのだから、料理は奥が深い。


<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B075DVQDX5/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B075DVQDX5&linkCode=as2&tag=101010fun-22&linkId=302e44d0d0ebcfe2b6142eefbddb948e"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B075DVQDX5&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B075DVQDX5" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />