---
title:"5分でできる！ピザ風ホットサンドの作り方、パクチー入り！ ホットサンドのレシピ紹介-その4"
date:"2018-08-03"
category:"blog"
---
image:https://apppppp.com/1/hotsand/pizza.jpg


## 材料(食材)
<b>『ピザサンド』</b>
食パン、サラミ、ナチュラルチーズ(とろけるチーズでも可能)、パクチー、ケチャップ、タバスコ、黒胡椒

<b>『あさりのコンソメスープ』</b>
ムキあさり、小ねぎ、粉末コンソメ


## 作り方(手順)
<b>『ピザサンド』</b>

1. ケチャップをパンの両面にぬる。
2. パンの上に、サラミ、チーズ、パクチーの順に、具材をのせていく。
3. その上に、タバスコ、黒胡椒をふりかけたら、ホットサンドメーカーをゆっくり閉じる。
4. 中火の火にかけ、両面を2分づつ焼いていく。

<b>『あさりのコンソメスープ』</b>

パンを焼いているあいだに、「あさりのコンソメスープ」をつくる。

1.  あさり、小ねぎ、粉末コンソメをシェラカップに適量いれる。
2. 200mlの水をいれ、火にかける。
3. 沸騰したら弱火にし、そのまま1分ゆでたら完成。

※シェラカップで調理したが、鍋でもかまわない。


## あとがき
ホットサンドメーカーを使って、ピザ風のホットサンンドを作ってみようと思った。
ピザといっても、さまざまな種類があるが、ここではスーパーなんかで売っているピザトーストに近い味となっている。あのピザの味を、無性に食べたくなる。
さて、タイトルに「5分でできる」と書いたが、実際おこなう調理作業としては、たったの1分で済んでしまうだろう。なぜなら、残りの4分は、パンが焼きあがることをじっと待っているだけなのだから。
そこで、パンを焼いている時間を利用して、「あさりのコンソメスープ」も作ってみた。
どれも手間のかからない時短料理となっているが、味のほうは保証できる。準備に忙しい朝の食事には、ピッタリの料理ではなかろうか。

食べてみた感想は、前述のとおりいわゆる「ピザトーストの味」なのだが、パクチーを入れたことによって冷凍食材ではできない、おしゃれな味になっている。ピザに使う香菜といえばバジルが定番だが、パクチーも相性がよいことが分かった。
また、食パンは「8枚切り」を選んで正解だった。「8枚切り」のうすい厚さが、食パンであることの主張をおさえ、ピザらしさを生かすことに成功している。
たったの５分でできる料理としては、なかなか充実した食事となった。

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B075DVQDX5/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B075DVQDX5&linkCode=as2&tag=101010fun-22&linkId=302e44d0d0ebcfe2b6142eefbddb948e"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B075DVQDX5&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B075DVQDX5" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />