---
title:"鯖(サバ)サンドイッチの作り方、パクチー入り！ ホットサンドのレシピ紹介-その5"
date:"2018-08-04"
category:"blog"
---
image:https://apppppp.com/1/hotsand/sava.jpg

## 材料（1食ぶん）
食パン、骨抜き塩さば、玉ねぎ、トマト、レタス、パクチー、レモン、マヨネーズ、バター、醤油、胡椒


## 作り方（手順）
1. 温めておいた魚焼きグリルに、鯖の「皮を下」にしてのせ、4〜5分中火で焼く。
2. 1を裏返したらさらに、中火で3〜4分焼く。
3. 同時に食パンをホットサンドメーカーで「一枚だけ」焼く。
4. パンを焼いている間に、ほかの具材の準備。玉ねぎをスライスし、マヨネーズと胡椒であえる。
5. トマト、レタス、パクチーは、食べやすい大きさにカットする。
6.  焼きあがった鯖を、のせやすい大きさに切っておく。隠し味として、醤油を小さじ1ほどたらしておく。
7. 焼きあがったパンに、バターを塗る。
8. パンの上に、レタス、玉ねぎ、鯖、トマト、パクチーの順で具材をのせる。最後にレモン汁をしぼって、振りかければ完成。


## あとがき
鯖とパンは本当に合うのだろうか？

以前から気になっていた鯖サンド。昔、テレビで紹介されていて、とてもおいしいらしいということを知った。それ以来、いつかは食べてみたいと思っていた。

食べてみたい、確かにそうは思っていたのだが、心のどこかでその味を疑っていたのも事実。なぜなら、鯖とパンの組み合わせがどうしても想像できない。鯖といったら白いご飯だろう。「鯖の塩焼き」「鯖の味噌煮」「鯖寿司」、思い浮かぶ鯖料理は、いつもお米がつきものだ。

ところが世界をみれば、「鯖とお米」の関係はあたりまえではないのである。

トルコでは鯖をパンにはさんで、屋台などで売っている。これがまさにその「鯖サンド」であり、トルコ名物だったのだ。

こうなると、自分の舌でおいしさを確かめてみなければ。食べる機会がなければ、自分で作ってしまおう。そんなことを思い、今回それを作ることにした。

ネット上には、たくさんのレシピがころがっていたが、どれが「正解の鯖サンド」なのかいまいちよくわからない。人によっても、アレンジがまちまちだ。そもそも「正解の鯖サンド」というものは、存在しないのかもしれない。自分の好きなようにつくってしまえば、良いということではなかろうか。

それならそうと、思いつきアレンジで鯖サンドを作ってみることにした。

食べてみた感想は、予想外にも自然なかんじで鯖とパンが融和していた。それに、レモンのおかげか脂っこくなくて、さっぱりと爽やかな味わい。サカナ臭さも、玉ねぎがそれを消してくれている。材料の選択も、誤ってはいないようだ。

ところで、今回は「骨抜きの塩さば」をつかってみたが、干物のほうがより美味しくなるのかもしれない。

魚は干物にすることで、ほどよく水分が蒸発され、味が凝縮される。そして、タンパク質の分解酵素が働き、イノシン酸やグルタミン酸などの「うまみ成分」であるアミノ酸量が増える。だから、干物であればもっと濃厚な味わいになるはずだ。

そうなると鯖に限らず、アジやホッケといった魚でサンドイッチを作ってみても面白そうだ。

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B075DVQDX5/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B075DVQDX5&linkCode=as2&tag=101010fun-22&linkId=302e44d0d0ebcfe2b6142eefbddb948e"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B075DVQDX5&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B075DVQDX5" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />