---
title:"スパイシーなタコス風ホットサンドをつくってみた！ホットサンドレシピ紹介-その2"
date:"2018-07-31"
category:"blog"
---
image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181121/20181121173026.jpg


## 材料
食パン、レタス、サルサソース、タコミート

<b>『サルサソース』</b>
トマト、玉ねぎ、塩漬けオリーブ、にんにく、パクチー、レモン汁、タバスコ、柚子胡椒

<b>『タコミート』</b>
ひき肉、ケチャップ、チリパウダー、鷹の爪


## 作り方（手順）
<b>『サルサソース』</b>
1. トマト、玉ねぎ、塩漬けオリーブ、ニンニク、パクチーをみじん切りにする。
2. 1をボールに移し、レモン汁、タバスコ、柚子胡椒を入れ、軽く混ぜあわせる。

<b>『タコミート』</b>
1. ひき肉を弱火で炒める。
2. 全体の色が変わったら、鷹の爪を入れ、チリパウダーを味がしっかりつくまでふりかける。
3. ケチャップを少量入れ、甘みをたす。

ホットサンドメーカーで焼きあがったパンに、レタス、タコミート、サルサソースの順にのせ、はさんだら完成。


## あとがき
タコスが無性に食べたくなった。折角なのでホットサンドのレシピに追加できないだろうかと考えてみる。しかし、サルサソースをはさんで温めるのには抵抗がある。そこで、食パンをホットサンドメーカーで焼いてトルティーヤの代わりにしてしまおうと思いついた。
レシピは一見たいへんそうに見えるが、やってみると意外とかんたんだ。チリパウダーやタバスコなどの強い味が支配しているため、材料がデタラメでもちゃんとタコスの味になる。タコスの味をガツンと変える方が難しい。そういう意味ではカレー料理と似たところがあるかもしれない。

そもそも、チリパウダーというのは、次のようなものでできている。赤唐辛子、パプリカ、クミン、オレガノ、ニンニク、塩。これがあのタコスの味を醸し出しているのだ。

また、トルティーヤはすりつぶしたトウモロコシの粉からできている。トウモロコシは麦、お米と並ぶ世界三大穀物のひとつ。メキシコ周辺の熱帯アメリカ地域が原産地。お米と同じで高温多湿の気候が栽培に適している。

お腹のタコス衝動は満たされ大満足。生地が食パンでも全く問題ない。それどころか、タコスがトルティーヤだったことを忘れるくらいだった。食べすぎてしまいそうだったので、ほどよいところで切り上げることにした。

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B075DVQDX5/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B075DVQDX5&linkCode=as2&tag=101010fun-22&linkId=302e44d0d0ebcfe2b6142eefbddb948e"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B075DVQDX5&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B075DVQDX5" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />