---
title:"CSSで横並びでメニューボタン配置してみる"
date:"2018-05-18"
category:"blog"
---
うやむやにしてきたメニューボタンの作り方。
これを期に１から作ってみる。

参考:
http://uxmilk.jp/60712


## Htmlの用意
```
<ul class="nav">
  <li><a href="#">Link1</a></li>
  <li><a href="#">Link2</a></li>
  <li><a href="#">Link3</a></li>
  <li><a href="#">Link4</a></li>
</ul>
```

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729101918.png


## CSSでボタンを作成する

### ulの操作
丸ぽちを取り除く
```
.nav {
  list-style: none;
}
```


### liの操作
横幅を指定、背景色ボーダライン、テキストを中央に

```
.nav li {
  width: 100px;
  background: #FF9900;  
  border:1px solid #000000;
  text-align: center;
}
```


### aの操作
下線を消す
```
.nav li a {
  text-decoration: none;
}
```

テキストの装飾
```
.nav li a {
  color: #fff;
  font-weight: bold;
}
```

## ここまでのまとめ1

現状のCSSをまとめるとこんな感じになっている。

```
.nav {
  list-style: none;
}

.nav li {
  width: 100px;
  text-align: center;
  background: #FF9900;  
  border:1px solid #000000;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

```

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729101937.png



## 本題

いよいよ横並びにしてく

liにfloatで横並びになる
```
.nav li {
  float: left;
}
```

このままだと次の要素も回り込んでしまうので、ulに回り込みをさせないための処理を追加

```
.nav {
  overflow: hidden;
}
```

ボタンの高さを指定して、縦の中央に文字が並ぶようにする。
line-heightをheightと同じ値にすることで実現できる。

```
.nav li {
  height: 30px;
  line-height: 30px;
}
```


ボタン同士の隙間を空ける。ボタンを押しやすいようにpaddingも指定する。
```
.nav li {
  margin-right: 5px;
  padding: 10px;
}
```

## ここまでのまとめ2

CSSをまとめるとこうなる

```
.nav {
  list-style: none;
  overflow: hidden;
  background:#000000;

}

.nav li {
  width: 100px;
  text-align: center;
  background: #FF9900;  
  border:1px solid #000000;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 5px;
  padding: 10px;

}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

```

image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729101953.png

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B00M0ESXUI/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00M0ESXUI&linkCode=as2&tag=101010fun-22&linkId=b9edf6011aa6d53fbd712368395e2ff2"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B00M0ESXUI&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B00M0ESXUI" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />