---
title:"はてなブログで吹き出しコメントの表現と、画像リサイズのキャッシュサービス"
date:"2018-09-02"
category:"blog"
---
## 出囃子
<p class="r-fuki ebi-niko">ねえねえ、このコメントのように吹き出しってどうやるの？</p>
<p class="l-fuki kaki-futu">いきなり、ずいぶんとメタ視点な質問だわね。</p>
<p class="r-fuki ebi-tere">そうかな？でも人のブログ見て、マネしたくなっちゃったんだよぉ。</p>
<p class="l-fuki kaki-niko">それなら、こちらの記事が参考になるんじゃないかしら。<br />https://www.notitle-weblog.com/entry/fukidashi

<p class="r-fuki ebi-ase">なんだか難しそうだなぁー。できるかなぁー。</p>
<p class="l-fuki kaki-futu">何言ってるの、すでに吹き出してるじゃない！</p>
<p class="r-fuki ebi-kita">(ﾟ∀ﾟ)ブブブッ！</p>


## 本編
ということで、こちらに詳しく書いてあるCSSの設定をお借りして吹き出しをやってみた。

こちらのサイトを参考にさせていただいた。
https://www.notitle-weblog.com/entry/fukidashi
吹き出しの画像は自分で用意する必要がある。丸型にクリッピングされるので、元画像を正方形の形で用意したい。

今までなら、そういった画像加工を画像編集ソフトやImageMagickで処理していた。ところがそういった道具を必要としなくても画像処理を簡単にできる、便利なサービスを見つけたので紹介したい。


## images.weserv.nl
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180819/20180819200050.jpg
こちらのサービスをご存知だろうか？
https://images.weserv.nl/

なんでもいいので、ネット上にアップロードした画像のURLを上記サイトのパラメーターに指定してあげると、画像リサイズやエフェクト処理ができる。プロキシ経由というか、キャッシュサーバーというか、CDNというか。
とにかくわかるよね？
そのURLをブログに貼り付ければそのまま使える。（サービスが停止しない限りね）
実際にやってみよう。例えばこのえびふりゃの画像。

image200:https://apppppp.com/1/harmonize/ebi-tere.png

背景が透過色のPNGファイルで、縦横の長さが異なる長方形の画像だ。これを例えば、背景を黒にして、正方形の枠内に収まるように表示したかったら、URLのパラメーターをイジってあげれば良いだけ。画像編集ソフトもいらない。


`https://images.weserv.nl/?url=apppppp.com/1/harmonize/ebi-tere.png&w=300&h=300&t=letterbox&bg=white:image=https://images.weserv.nl/?url=apppppp.com/1/harmonize/ebi-tere.png&w=300&h=300&t=letterbox&bg=black
`

これをimgタグのsrcに指定するとこんな感じで出力される。

image200:https://images.weserv.nl/?url=apppppp.com/1/harmonize/ebi-tere.png&w=300&h=300&t=letterbox&bg=white:image=https://images.weserv.nl/?url=apppppp.com/1/harmonize/ebi-tere.png&w=300&h=300&t=letterbox&bg=black

<p class="r-fuki ebi-kita">感動した！</p>

画像サイズなどの小さな変更点は、いちいち画像編集ソフトやImageMagickで加工するのはめんどうだった。しかしこのサービスを利用すればそのような悩みはなくなる。「痒いところに手が届く」というのは、まさにこういうことだ。
さて、今までは一人称で説明文を書くのが辛かったけれど、えびふりゃ、かきふりゃが吹き出しで会話してくれるならだいぶ楽になりそうだ。

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B00M0ESXUI/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00M0ESXUI&linkCode=as2&tag=101010fun-22&linkId=b9edf6011aa6d53fbd712368395e2ff2"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B00M0ESXUI&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B00M0ESXUI" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />