---
title:"オケの譜読みに使える頭出し再生アプリ『CuePlayer』シンプルで使いやすい音楽プレーヤー"
date:"2018-08-06"
category:"apps"
app-id:"1380070406"
---
image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729130917.jpg
譜読みのストレスを少しでもなくしたいためにアプリを作ってみました。
楽譜のA、B、Cといったリハーサルマークを登録して、楽器を弾きながらでも簡単に頭出し再生ができます。
スピード再生はもちろん、ピッチを変えて再生することができます。
シンプルだから誰にでも使いやすくなってます。

image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729131059.jpg

注意: iCloud上にある音楽は選択できません。その場合はMusicアプリでダウンロード後、お試しください。

{{cueplayer_download}}