---
title:"CuePlayer 速度を変えずに『ピッチ(周波数)を変える』には？"
date:"2018-05-09"
category:"apps"
app-id:"1380070406"
---
image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729130419.jpg

### クラシック音楽では、録音の基準周波数がバラバラなことが多く、音源に合わせて譜読みする場合にいちいち楽器のチューニングを変えなければなりませんでした。

### CuePlayerなら簡単に曲のピッチを変えて再生することができます。

### 1セント単位で調整できます。
半音差は100セント、1オクターブは1200セントとなります。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729130438.jpg


### 例えば 440Hz → 442Hz のピッチ変化では約8セント必要です。
<b>何セント変化させれば1Hz変化させられるかどうかは基準周波数によって変わってきます。
ですので実際には音源と楽器を鳴らしながら自分の耳でピッチを合わせていくしかないのですが、数値の目安として参考にしてください。</b>


### セントを周波数比から求める計算式です。
image200:/images/cuplayer-calc2.jpg

|記号  | 意味|
|------|---------------------|
|x     | 求めたいセント(cent)|
|fa  | 元の周波数(Hz)|
|fa' | 変化後の周波数(Hz)|



### 実際に計算してみましょう。（ 440Hz → 442Hz ）
image200:/images/cuplayer-calc1.jpg

<b>計算すると7.851セントとなりました。</b>

|数値 | 意味|
|-----|---------------------|
|x    | 求めたいセント(cent)|
|440  | 音源の周波数(Hz)|
|442  | 変化後の周波数(Hz)|


{{cueplayer_download}}