---
title:"メイン作業を快適にするため、シンプルな机を作ってみた"
date:"2018-11-03"
category:"blog"
---
一度大きい机に慣れると、小さい机に戻れなくなる。
机を作るのはこれで何度目だろう。５回目くらいか？
だんだん、設計が安定してきている。

土台はSPFで、天板は安価なパイン集成材の1810mm x 910mmをそのまま大胆に使う。

木材費用はカット代も含めて6590円という安さ。安定の島忠価格だ。

image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181103/20181103142600.jpg

1万円以上お買い上げで、送料が無料になる。三千円くらいの寝袋をついでに買うことする。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181103/20181103142514.jpg

組み立てに使用するのはネジとボンドのみ。このように斜めに打ち込んで固定することにした。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181103/20181103142517.jpg

image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181103/20181103142520.jpg

あっという間に土台の完成。この設計でやると驚くほど安定する。グラつかない。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181103/20181103142543.jpg


今度は天板。角丸は島忠のジグソーを使って自分でカットした。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181103/20181103142529.jpg

今回はオイル塗装で仕上げることにした。スーパーで売っているエゴマ油を採用。800円くらいしたか。エゴマ油は乾性油なので、乾いて固まるらしい。亜麻仁油でも良い。

image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181103/20181103142535.jpg

100均で買ったローラーで塗装したが、塗りすぎた。その後の数週間は、机に置いたノートやプリントが油を吸うはめに。。。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181103/20181103142540.jpg

布に油を染み込ませて塗装した方が良い。または、ワックス塗装の方が色も変わらず簡単に仕上げられる。


天板は引っ越しの時に持ち運びしやすいようにと思って、固定していない。固定していないが、頑丈な土台と、天板の自重もあって安定している。

image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181103/20181103142548.jpg

油が乾いたら仕上げに、目の細かいサンドペーパーで磨くと肌触りが格段によくなる。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181103/20181103142551.jpg

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B0799CV6YL/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B0799CV6YL&linkCode=as2&tag=101010fun-22&linkId=bf58b20242e3598d86cb2421c359fd69"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B0799CV6YL&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B0799CV6YL" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><a target="_blank"  href="https://www.amazon.co.jp/gp/product/B01HTRVZ0A/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B01HTRVZ0A&linkCode=as2&tag=101010fun-22&linkId=6736986c6139541fd92957c2429bfa70"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B01HTRVZ0A&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B01HTRVZ0A" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />