---
title:"FirebaseのCrashlyticsでdSYMエラーの解決方法"
date:"2018-11-17"
category:"blog"
---
image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181117/20181117115900.jpg

忘れやすいのでメモしておく。

1. XcodeのOrganizerを開く
2. Uploadしたアプリを選択して、右側の「Download Debug Symbols」をクリックしてインジケーターがなくなるまで待つ
3. Uploadしたアプリを右クリックして「Show in Finder」を選択
4. xcarchiveファイルを右クリックして「パッケージの内容を表示」を選択
5. 「dSYMs」フォルダを右クリックして圧縮をする
6. 圧縮されたdSYMs.zipをデスクトップなどに移動して、Firebaseの画面でアップロードする

以上でクラッシュレポートが見れるようになる。

追記:
iTunesConnectのアプリのアクティビティから対象のビルドバージョンを選ぶと「dSYM をダウンロード」が出てくる。
このファイルを使った方が速いかな？