---
title:"Harmonize – Just intonation ear training game to have perfect pitch"
date:"2017-05-10"
category:"harmonize"
---
image:https://apppppp.com/1/harmonize/harmonize-eyecatch-top.jpg

An app anyone can enjoy with which you learn to have perfect and relative pitch. Especially suited to those learning the chords of just intonation.
This app is beloved by many, from those who want to be good at karaoke to brass band and orchestra members.

Hello everyone.
This “Music Game” app is the sequel of my previous work.
This time, the focus lies on learning double-stop notes (just intonation).

In this app, two sounds are played at the same time, but the decision is calculated on the basis of just intonation. For example, when matching major third “do” and “mi”, there is a gap of 4 semi-tones, so in equal temperament there is an interval of 400 cents.
However, in just intonation, “mi” has a 5/4 frequency ratio to “do”, so when calculated, the interval becomes (1200 x log2 (fE / fC) =) 386.3… cents.
This means that for the piano (equal temperament) interval you have to take a minor interval of approximately -14 cents.
Therefore, use the piano sound only as a guide, and match the tone of the sound by feel.
The trick is to operate it so you lose the beat. It will suddenly become a clear sound at a certain position. That will be the just interval tone.

※Chords reference tone is A=442 Hz.

{{harmonize_download}}

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B00923G9Q0/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00923G9Q0&linkCode=as2&tag=101010fun-22&linkId=4572f640ac160cf7136f9ee37f895a53"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B00923G9Q0&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B00923G9Q0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4276502446/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4276502446&linkCode=as2&tag=101010fun-22&linkId=6d65ea9acf70b3cc43467f6513ab70d3"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4276502446&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=4276502446" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />