---
title:"How to play 'Harmonize'"
date:"2018-07-25"
category:"harmonize"
app-id:"965614965"
---
<i>*This page is translated by Google Translate.*</i>
### Let's start with the simplest "Octaves".
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180730/20180730154231.jpg

### Click the first button that is unlocked.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124644.jpg

### When you come to the game screen, you will hear chords first.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124659.jpg

### Let's listen to that chord once more. Please remember this chord well.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124717.jpg

### Let's try to make the chords.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124659.jpg

### First, click around the middle of the screen.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124728.jpg

### The sound is heard while touching your finger on the screen.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124728.jpg

### Please move your finger upwards as it is.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### Did the pitch change?
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### The pitch is fixed for one sound. The other sound can change the pitch according to the movement of the finger.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### Let's listen to the correct chord again.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124818.jpg

### Move your finger up and down again to approach the pitch of the correct chord.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### If you can make the same sound as the correct chord, click on the red button and check the results.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124831.jpg

### It is perfect if the balloon flew.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124843.jpg

### The closer the value of "CENT" is to 0, the more perfect.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124856.jpg

### By pressing the button, you can listen to the previous chord. You can press buttons at the same time.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124913.jpg

### The above is a brief explanation.
Let's challenge problems other than octaves when you get used to it.

{{harmonize_download}}

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B00923G9Q0/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00923G9Q0&linkCode=as2&tag=101010fun-22&linkId=4572f640ac160cf7136f9ee37f895a53"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B00923G9Q0&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B00923G9Q0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4276502446/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4276502446&linkCode=as2&tag=101010fun-22&linkId=6d65ea9acf70b3cc43467f6513ab70d3"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4276502446&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=4276502446" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />