---
title:"オクターブの音程、和音についてセミを使って説明してみた"
date:"2018-08-01"
category:"harmonize"
---
ドレミファソラシドのように、<b>低いドから次の高いドの間隔のことをオクターブ</b>と呼びます。
ここではそのオクターブにどんな性質があるのか、セミを使ってみていきましょう。
Harmonizeのアプリをやってみたけれど音楽の知識がなく、いまいちよくわからないという方にも参考になれば幸いです。

用意するセミはこちら。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180801/20180801001628.png

見た目はミンミンゼミだけれど、鳴き声はアブラゼミのようにジーーと鳴くものとします。笑
ちなみにセミはお腹を使って鳴くようです。
ここで１匹のセミAが、お腹を一定の速度で震わせて鳴いています。

<b>『一定の速度で震わせている』</b>というのがポイントで、一定の速度で生じている音は、<b>音程</b>としてとらえることができます。その速度を仮に1000とし音程を ド1 と呼ぶことに決めましょう。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180801/20180801010829.png

次にもう一匹、セミBを連れてきました。
最初はセミAと同じ1000の速度で震わせて鳴いていましたが、もっと音程を高くして目立とうとするために震える速度を上げていきました。そしてセミAの2倍の速度の2000で震わせて鳴いています。
さて、<b>速度2000の音程</b>はどのようなものなのでしょうか。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180801/20180801010847.png

ずばり<b>1オクターブ高い ド の音程</b>になります。これを ド2 と呼ぶことにしましょう。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180801/20180801010905.png

ド1 と ド2 の音が同時に鳴っていると、人間の耳には<b>綺麗にハモった</b>ように聴こえます。ただしあまりにも音色が似ていると、一つの音に聴こえてしまうかもしれません。

そして速度が2000ではなく微妙にずれていると二つの音の間にうなりが生じ、うぉんうぉんと濁ったような音が発生します。
このうなりのことを<b>『ウルフトーン』</b>とか<b>『ヴォルフ』</b>なんて呼んだりします。
音楽の世界では微妙なズレを利用して厚みを増す手法があります。ギターなどやられている方はわかると思いますが、コーラスと呼ばれるエフェクターがそれです。またオーケストラが複数人いるのはもちろん音量を増すというのもありますが、厚みを増すという目的もある気がします。まさにコーラスなんですね。
さて、Harmonizeのオクターブで行なっていることは、セミBがお腹を震わせる速度を2倍に速めることとまったく同じことなのです。
ここでいう速度を音の世界では<b>周波数</b>と呼びます。単位は<b>Hz(ヘルツ)</b>と言って、一秒間に何回振動しているかを表す単位です。
是非オクターブの和音を体感するためにも、実際にHarmonizeのアプリを使ってみてください。

{{harmonize_download}}

{{amazon_4276100003}}