---
title:"1分钟就明白！“Harmonize”的玩法"
date:"2018-07-23"
category:"harmonize"
app-id:"965614965"
---
### 从最简单的“八度”开始玩吧！
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180730/20180730154231.jpg

### 点击被解锁的1号按钮。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124644.jpg

### 在游戏画面上，会先听到和弦。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124659.jpg

### 再听一次。请记好这个和弦。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124717.jpg

### 这次，自己做做看那个和弦。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124659.jpg

### 首先，触摸画面接近中间的地方。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124728.jpg

### 发出声音了吧？
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124728.jpg

### 就保持那样将手指向上滑动看看。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### 音程变化了吧？移开手指，然后请再重复一次。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### 被固定的音程和根据指头动向变化的音程同时听得到吧？
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### 再听一次正确的和弦。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124818.jpg

### 使指头上下移动，找到正确的和弦吧。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### 如果可以做出和正解一样的和弦，点击红色按钮，确认结果吧。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124831.jpg

### 气球飞上来的话就代表完美喔。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124843.jpg

### “音分”的值越接近0越完美哦。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124856.jpg

### 可以再听一次刚才做的和弦。也可以同时按正解按钮。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124913.jpg

### 解说结束。如果习惯了，也挑战五度或三度音程吧。

{{harmonize_download}}

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B00923G9Q0/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00923G9Q0&linkCode=as2&tag=101010fun-22&linkId=4572f640ac160cf7136f9ee37f895a53"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B00923G9Q0&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B00923G9Q0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4276502446/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4276502446&linkCode=as2&tag=101010fun-22&linkId=6d65ea9acf70b3cc43467f6513ab70d3"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4276502446&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=4276502446" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />