---
title:"1 분으로 안다! 'Harmonize'사용"
date:"2018-07-25"
category:"harmonize"
app-id:"965614965"
---
<i>이 페이지는 Google 번역에 의해 번역됩니다.</i>

### 우선 간단 옥타브에서 도전 해 봅시다.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180730/20180730154231.jpg

### 열쇠가 걸리지 않은 가장의 버튼을 클릭합니다.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124644.jpg

### 뭔가 소리가 흘러 왔어요.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124659.jpg

### 다시 물어 보자.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124717.jpg

### 이 소리를 정답으로 이번에는 스스로 만들어 가고 있습니다.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124659.jpg

### 화면의 중간 쯤을 클릭하여 봅시다.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124728.jpg

### 손가락으로 누르고있는 동안 소리가 나옵니다.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124728.jpg

### 그대로 손가락을 위 방향으로 움직여보십시오.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### 그러자 음정이 다른 2 개의 소리가 흐르고있는 것을 알 수 있습니다.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### 하나의 소리는 고정되어 있고, 다른 하나는 손가락의 움직임에 따라 변화하고 있습니다.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### 정답의 소리를 다시 들어 보자.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124818.jpg

### 자신의 소리도 정답의 소리에 가까이 갑시다.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### 같은되었다고 생각되면 빨간 버튼을 눌러 결과를보고하자.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124831.jpg

### 풍선이 날면 완벽합니다.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124843.jpg

### 세인트의 값이 0에 가까울수록 완벽합니다.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124856.jpg

### 방금 맞는 소리를 다시 확인할 수 있습니다. 동시에 누를 수 있습니다.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124913.jpg

### 이상으로 간단한 설명은 끝입니다.

익숙해지면 옥타브 이외의 음정에도 도전 해 봅시다.

{{harmonize_download}}

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B00923G9Q0/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00923G9Q0&linkCode=as2&tag=101010fun-22&linkId=4572f640ac160cf7136f9ee37f895a53"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B00923G9Q0&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B00923G9Q0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4276502446/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4276502446&linkCode=as2&tag=101010fun-22&linkId=6d65ea9acf70b3cc43467f6513ab70d3"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4276502446&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=4276502446" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />