---
title:"Cómo jugar 'Harmonize'"
date:"2018-07-25"
category:"harmonize"
app-id:"965614965"
---
<i>Esta página está traducida por Google Translate.</i>
### Comencemos con una octava simple.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180730/20180730154231.jpg

### Haga clic en el primer botón que está desbloqueado.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124644.jpg

### Los sonidos están sonando.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124659.jpg

### Vamos a verlo de nuevo.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124717.jpg

### Voy a hacer ese sonido por mi cuenta esta vez.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124659.jpg

### Toquemos el centro de la pantalla con el dedo.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124728.jpg

### El sonido se escuchará al tocar con los dedos.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124728.jpg

### Intenta mover el dedo como está.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### Entonces puede ver que hay dos sonidos de tono diferente.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### Un sonido es fijo, y el otro cambia de acuerdo con el movimiento del dedo.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### Escuchemos el sonido de la respuesta correcta nuevamente.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124818.jpg

### Deje que su sonido se acerque al sonido de la respuesta correcta.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124751.jpg

### Al pensar que se convirtió en lo mismo, veamos el resultado presionando el botón rojo.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124831.jpg

### Es perfecto si el globo voló.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124843.jpg

### Cuanto más cerca estén los centavos de 0, más perfecto.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124856.jpg

### Puede verificar el sonido de la hora anterior nuevamente. También puede comparar presionando al mismo tiempo.
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729124913.jpg

### Lo anterior es una breve explicación.
Vamos a desafiar las notas que no sean la octava cuando te acostumbres.

{{harmonize_download}}

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B00923G9Q0/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00923G9Q0&linkCode=as2&tag=101010fun-22&linkId=4572f640ac160cf7136f9ee37f895a53"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B00923G9Q0&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B00923G9Q0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4276502446/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4276502446&linkCode=as2&tag=101010fun-22&linkId=6d65ea9acf70b3cc43467f6513ab70d3"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4276502446&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=4276502446" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />