---
title:"Harmonize - Privacy Policy"
date:"2018-01-01"
category:"harmonize"
---
1. We don’t get excessive personal information.
　このアプリから第三者に提供される利用者情報はありません。

2. We can get personal information because we hold internet connection for advertisement.
　広告表示へ接続するためにネットワークアクセスを行います。 
  
{{harmonize_download}}