---
title:"サクッとBasic認証する"
date:"2018-11-12"
category:"blog"
---
Basic認証の設定方法は、いちいち覚えられないのでの記録に残すことにする。

認証をかけたいフォルダに、.htaccessを配置。
```
AuthUserfile /somewhere/directory/.htpasswd
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user
```
https://qiita.com/yuwaita/items/e406c645ae8d0cc3c3fa

> require valid-user
ユーザーが誰であろうと、入力したIDとパスワードが合っていればアクセスできるという意味。特定ユーザーだけにアクセスさせたい場合は「require user xxx」とかする。

らしい。。。

htpasswdのパスワード生成はウェブサービスを使わずコマンドで自分でやったほうがいいと思う。
htpasswdの生成サービスへの接続を、自鯖や会社鯖のIPでアクセスして生成してたら、相手方に生パスもサイトURLも漏洩してしまうことになる。
相手に悪意がなくてもこちらからは判断できないので、リスクを背負うべきではないだろう。

`htpasswd -c -b /somewhere/directory/.htpasswd ユーザーID パスワード`

とっても簡単だ。
また、adminへのアクセスはhttps通信で行おう。