---
title:"ImageMagickでGifアニメを作ってみるお！"
date:"2018-05-10"
category:"blog"
---
## 素材の用意
３枚の画像を用意してみたお！

image200:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729123638.jpg
<hr>
image200:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729123654.jpg
<hr>
image200:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729123712.jpg

2chの顔文字とAA【顔文字ちゃんねる】より
http://kaomojich.com/aa/o-o-o/


## ImageMagickをインストール
brewでImageMagickをインストールするお！
`brew install imagemagick`


## ConvertでアニメーションGifを作成
convertコマンドが使えるようになったお！
`convert -delay 70 -loop 0 aa*.jpg aa_anime1.gif`

delayは100分の1秒単位なので注意するお！

image200:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729123742.gif

出来たおね！

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/4797377623/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4797377623&linkCode=as2&tag=101010fun-22&linkId=b73336026353f211400d68f588761dbb"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4797377623&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=4797377623" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />