---
title:"iOS版タイピングの神様のリリース履歴"
date:"2018-11-17"
category:"kamityping"
app-id:"432724804"
---
{{kamityping_download}}

### 2018.11.17 [3.5.11]
* だんだん動作が重くなるバグを修正しました。

### 2018.11.6 [3.5.10]
* ノーミスの判定機能を追加しました。
* 内部のシステム変更により、起動速度が速くなりました。

### 2018.11.4 [3.5.9]
* 同じ問題をリトライできる言霊機能を追加しました。

### 2018.11.2 [3.5.8]
* プライバシーポリシーを追加しました。
* ボタン表示などを改良しました。
* 問題文の誤字を修正しました。
* ホーム画面へ戻らなくても

### 2018.9.27 [3.5.7]
* 問題文の調整を行いました。

### 2018.9.26 [3.5.6]
* 問題文の調整を行いました。
* 細かいシステム修正を行いました。

### 2018.9.19 [3.5.5]
* 一部の端末でクラッシュするバグを修正しました。

### 2018.9.18 [3.5.4]
* 日本語短文で文字サイズが小さくなりすぎてしまう問題を修正しました。
* 日本語短文の誤字を修正しました。

### 2018.9.13 [3.5.3]
* New Recordラベルの表示
* ランチ画面の変更

### 2018.8.19 [3.5.2]
* システムバグの修正
* 巫女さん画像の非表示設定
* iPadでの問題文の文字サイズを変更
* 結果画面のボタン配置変更

### 2018.8.14 [3.5.1]
* 課金システムのバグ修正
* 設定画面など一部デザイン変更
* シェアURLの変更

### 2018.7.26 [3.5.0]
* 英語、中国語、韓国語へローカライズしました。

### 2018.6.30 [3.4.18]
* 短文の誤字修正を行いました。

### 2018.6.19 [3.4.17]
* ランキングにスコアが反映されないバグを修正しました。

### 2018.6.14 [3.4.16]
* 日本語（短文）を復活させました。

### 2018.6.7 [3.4.15]
* 細かなシステムおよびバグの修正を行いました。

### 2018.5.29 [3.4.14]
* 細かなデザイン修正を行いました。

### 2018.5.20 [3.4.13]
* 細かな修正を行いました。

### 2018.4.26 [3.4.12]
* 濁点が打てないバグを改善しました。

### 2017.4.23 [3.4.11]
* バグ修正。

### 2017.3.21 [3.4.10]
* バグ修正を行いました。

### 2017.6.26 [3.4.9]
* クラッシュバグの修正を行いました。

### 2017.6.9 [3.4.8]
* 効果音の修正。

### 2017.6.8 [3.4.7]
* バグ修正。
* 動画の追加など。

### 2017.6.3 [3.4.6]
* アラートの修正。
