---
title:"タイピングの神様 - Privacy Policy"
date:"2018-11-17"
category:"kamityping"
app-id:"432724804"
---
## Privacy Policy
(I) There is no personal information of the user to be provided to a third party from this application.
(II) Advertisement display and network access to connect to ranking system.


## プライバシーポリシー
(I)このアプリから第三者に提供される利用者の個人情報はありません。
(II)広告表示および、ランキングシステムへ接続するためにネットワークアクセスを行います。 

{{kamityping_download}} 