---
title:"Android版タイピングの神様のリリース履歴"
date:"2018-11-18"
category:"kamityping"
app-id:"432724804"
---
{{kamityping_download}}

### 2018.11.18 [1.8.39]
* 動画広告が表示されないバグを修正しました。
* クリック音が重複してなってしまうバグを修正しました。

### 2018.11.17 [1.8.38]
* 入力済みの文字表示を工夫しました。
* ランキング画面でクラッシュするバグを修正しました。

### 2018.11.16 [1.8.37]
* 動作がだんだん重くなる問題を修正しました。

### 2018.11.12 [1.8.36]
* 正解率の表示を追加しました。
* システムバグ修正を行いました。

### 2018.11.11 [1.8.35]
* タイプミスの判定を変更しました。（連続でDeleteしてもカウントを1とします）
* そのほか細かなシステム修正およびバグ修正を行いました。


### 2018.11.10 [1.8.34]
* 日本語-文章の誤字を修正しました。
* ことわざの問題を大幅に調整しました。
* レベル50以上からレベル67までの称号を追加しました。
* タイプミスをグラフ表示に追加しました。
* 最後の入力文字が次の問題に残ってしまうバグを修正しました。
* ホーム画面にもどる時の、読み込み遅延を改善しました。
* 英語のローカライズを行いました。
* データ保存およびランキングのシステム修正を行いました。
* ランキング登録名を15字までに増やしました。

### 2018.11.7 [1.8.33]
* 結果画面の表示を改善しました。
* 細かなシステム修正を行いました。


### 2018.11.6 [1.8.32]

* ホーム画面の表示が遅くなる問題を修正しました。
* 問題に『ことわざ』を追加しました。
* 動画広告ボタンをホーム画面へ移動しました。
* 細かなバグ修正を行いました。

### 2018.11.5 [1.8.31]
* ランキング表示を高速化しました。（ランキングを100人単位で取得）

### 2018.11.5 [1.8.30]
* 難読漢字の問題を調整しました。
* 細かなバグ修正を行いました。

### 2018.11.3 [1.8.29]
* 設定画面を設けました。
  *クリック音を復活しました。設定画面でオンオフできます。

### 2018.11.2 [1.8.28]
* ベスト10位までのスコアを記録するようになりました。グラフ画面で確認できます。

### 2018.11.1 [1.8.27]
* 結果画面でランクイン表示ができるようになりました。

### 2018.11.1 [1.8.26]
* ランキングのNanashi表示を廃止しました。


### 2018.10.31 [1.8.25]
* ランキングに名前を残せるようになりました。

### 2018.10.21 [1.8.24]
* 言霊関連のシステム修正を行いました。
* 同じ単語が出題されてしまうバグを修正しました。
* 英語の問題を見やすいように明朝体にしました。
* サウンドを一部改善しました。


### 2018.10.20[1.8.23]
* ランキング表示でのクラッシュバグを修正しました。


### 2018.10.20 [1.8.22]
* ランキングシステムのバグを修正しました。

### 2018.10.19 [1.8.21]
* ランキングシステムを導入しました。
* データ改ざん防止のため、リセットボタンを廃止しました。
* 誤字の修正を行いました。
* メモリ使用量を改善しました。
* 動作速度を改善しました。

### 2018.10.3 [1.8.20]
* Andorid4.1でのレイアウト崩れを修正しました
* 結果画面表示の遅延を改善しました。

### 2018.9.30 [1.8.19]
* 横画面の対応をしました。
* お題に「難読漢字」を追加しました。


### 2018.9.30 [1.8.18]
* 横画面の対応をしました。
* お題に「難読漢字」を追加しました。


### 2018.9.29 [1.8.17]
*「言霊」を利用しておなじ問題を繰り返し挑戦できるようになりました。
い。

### 2018.9.28 [1.8.16]
* スコア履歴をグラフ表示できるようになりました。
* スコアシステムを変更したため以前のベストスコアが引き継がれない場合がございますので、あらかじめご了承ください。

### 2018.9.24 [1.8.15]
* ノーミス判定のバグがありましたので修正を行いました。
* レビューへのリンクを結果画面に追加しました。


### 2018.9.24 [1.8.14]
* 細かなシステム修正を行いました。


### 2018.9.23 [1.8.13]
* リセットボタンの追加を行いました。


### 2018.9.22 [1.8.12]
* アルテ日本語入力キーボードに対応しました。
* 問題取得時のバグ修正を行いました。
* 誤字の修正、出題文の調整を行いました。


### 2018.9.21 [1.8.11]
* クラッシュバグを修正しました。
* いくつかの細かいシステム修正を行いました。

### 2018.9.20 [1.8.10]
* ノーミス時のバッジ表示を追加しました。
* ボタンのアイコン表示を修正しました。
* 長文の誤字を修正しました。

### 2018.9.20 [1.8.9]
* リトライボタンを追加しました。
* 日本語（長文）の誤字を修正しました。

### 2018.9.19 [1.8.8]
* 「次は」の表示位置を調整しました。
* Android 4.1まで対応しました。