---
title:"タイピングの神様で、フリック入力の練習をしよう！"
date:"2018-08-11"
category:"kamityping"
---
{{kamityping_download}}

フリック入力練習アプリ「タイピングの神様」がなんと、50万ダウンロード突破しました！
ありがとうございます！
iPhone、iPadはもちろんAndroidアプリやBluetoothキーボードでも遊べます。
もちろん無料で！
可愛い巫女さんと一緒にフリック入力、タイピングを覚えていきましょう！
 

## レベルを上げる「コツ」
早速ですが、タイピングの神様でレベルを上げる「コツ」を教えちゃいます。
フリック入力に慣れてきたひと向けのアドバイスなのですが、「いま出題されている文字を入力しながら、次のお題へ目線を向ける」
そうするだけで、スコアが上がります。

下の画像で例えるならば、「ゆうめいな」とキーボードで打ちつつも、目線は「なかま」へ向けています。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729110046.jpg
 
このようにすることで、頭の中では「ゆうめいななかま」のように、連続した文字としてとらえることができます。グンッとスコアが上がりますので、ぜひ試してみてください！
 

## 短文に挑戦してみよう！
iPhone版の限定機能となってしまいますが、単語だけではあきたらないという方は「日本語 - 短文」にも挑戦してみてください。タイピングの神様起動後の、画面右下にあるギアマークから出題される言葉を変更できるようになっています。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729110103.jpg


## ボトルネックを見つけて集中的に練習しよう！
タイピングの神様の神様で、いつもつまずいている「苦手な入力パターン」を見つけましょう。
たとえば「いれ」のような入力パターンが苦手だとわかった場合、どのように練習すればそれを克服できるでしょうか？
私がよくやっていたのは、二文字だけをピックアップしたら「メモ帳」などのアプリで集中的に練習することです。

メモ帳アプリをひらいて、先ほどの苦手なパターン「いれ」を「いれいれいれいれいれいれいれいれいれいれいれ」というように何度も繰り返し入力するのです。こうすることで、自然と指が苦手な動きを覚えてくれます。その後のタイピングの神様のスコアも上がりますし、実際、文字の入力もストレスなくできるようになっているはずです。

ところで、「いれ」や「うろ」などのパターンは、フリック入力でもっとも指を大きく動かさなければならないパターンなので、難しいのは当然です。指の動きが、大きければ大きいほど入力に時間がかかりますし、ミスが生じやすくなります。ですから「ボトルネック」を見つけたら、早めに練習して克服してしましょう。

 
## 最後に、神ワザ動画のご紹介
YouTubeでoYASUKOoさんが『タイピングの神様』の紹介をしてくれました。
可愛らしい声でいやされ、ほんわかしていたらなんと、フリック入力は神速でした!!!w(ﾟдﾟ)w

<iframe src="https://www.youtube.com/embed/dy6nS0gqvgY" width="560" height="315" frameborder="0" allowfullscreen=""></iframe>

スマホ初心者の方も、タイピングやフリック入力に自信がある方も是非『タイピングの神様』で新記録に挑戦してみましょう！

{{kamityping_download}}

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B01N1PJM9N/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B01N1PJM9N&linkCode=as2&tag=101010fun-22&linkId=25fe4c02aeefe086a03114c5c3757b68"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B01N1PJM9N&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B01N1PJM9N" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />