---
title:"iPhoneでやっておくべきフリック入力の設定『トグル入力オフ』とは"
date:"2018-05-23"
category:"kamityping"
app-id:"432724804"
---
{{kamityping_download}}

例えば、タイピングの神様や文章をかいたりする場面で「たたかう」という文字を入力したい時どうしますか？
そもそも「たたかう」なんて文字は打たないよ！、というツッコミはさておき、最初の文字の「た」を入力したあと、２文字目の「た」を入力しようとすると、「ち」に変換されてしまいわずらわしいことがありませんか？
「ガラーケー打ち」と呼ばれるこの入力方法を、iPhoneやAndroidのスマートフォンでは、「トグル入力」と呼んでいます。
ここでは「トグル入力」の設定をオフにして、下のアニメーションのように「たた」と連続で打てるようにしていきましょう。


### トグル入力オフ
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729104305.gif


### ギアマークの設定アプリを開きましょう。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729104359.jpg


### 『一般』から『キーボード』の項目をさがして進みます。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729104423.jpg


### 『フリックのみ』の項目のスイッチを緑にオンします。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729104442.jpg


### これでトグル入力はオフになりました。
それではタイピングの神様で文字入力の練習をしていきましょう！

{{kamityping_download}}

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/B01N1PJM9N/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B01N1PJM9N&linkCode=as2&tag=101010fun-22&linkId=25fe4c02aeefe086a03114c5c3757b68"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B01N1PJM9N&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=B01N1PJM9N" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />