---
title:"Keep it Simple, Stupid"
date:"2018-08-19"
category:"blog"
---
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180819/20180819040530.jpg
<b>Keep it Simple, Stupid</b>
<b>シンプルにしておけ、愚か者よ</b>

MVCやらビジネスロジックやら、コーディングのルールをもっとしっかり決めようと思った。しかし考えていたら、問題がどんどん複雑化していった。いったい何をやりたかったのか見失っていった。

長期的にメンテナンスが楽になるように、可読性をあげたい。使いまわせるリソースをどんどん増やしたい。どこで何の処理をしているか、イメージしやすいようにしたい。

同じコードを書きたくない。コードの解読に時間をかけたくない。

ところがいつのまにか、アレもコレもまかなえるコードを書こうとしてしまう。
なんでも万能に、機能を持たせようとするのは悪い癖だ。それはまるで、戦艦大和を作るようなもの。

俊敏な動きができない。小回りがきかない。その結果、淘汰される。

さらに悪いことに、沈みゆく船に固執してしまう。機能を増やせば増やすほど、自分がかけた労力を「もったいない」という気持ちが生まれるからだ。使い回しのきかない、太ったコードをいつまでも手放せなくなる。非生産的なことに時間を浪費してしまう。

シンプルな単機能のモジュールの方が気軽に使いまわせて長く使える。捨てるのもラク。シンプルだから何をしているのか一目瞭然。カスタマイズも簡単だ。

いろいろな機能を盛り込めば盛り込むほど、使いまわしが効かなくなる。結果、リソースは無駄になり、また同じようなコードを書いてしまう。DRY(Don't Repeat Yourself)なコーディングからはなれていく。

だから、自分が愚か者であるということを、忘れずにいたい。そして、常に心がけたい。愚か者の私にも読める、やさしいコードを。

<p class="l-fuki kaki-futu">ポエムだねぇー</p>
