---
title:"Macで使えるショートカットキーの覚え書き"
date:"2018-05-08"
category:"blog"
---
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180729/20180729102619.jpg

この記事は随時修正、更新されます。

## Finderで使えるショートカットキー
#### ファイルを複製する
`command` + `D`
DはDuplicateの意味

#### 名前の変更
ファイルやフォルダを選択して `return`

#### QuickLook
ファイルを選択して`スペースキー`

#### 新規タブの作成
`command` + `T`

#### タブを閉じる
`command` + `W`

#### 親フォルダに移動
`command` + `↑`

#### 選択したファイルを開く
`command` + `O`


## 文字入力で使えるショートカットキー
#### 言語を切り替える
`Command` + `スペース`

#### 絵文字を入力する
`Control` + `Command` + `スペース`

参考:
https://www.danshihack.com/2016/05/21/junp/mac-keyboard-emoji.html


## スクリーンショットで使えるショートカットキー
`command` + `shift` + `4`
で全画面スクリーンショット

カーソルが十字になっている状態で`スペース`を押すとウィンドウだけキャプチャしてくれる。

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/4797377623/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4797377623&linkCode=as2&tag=101010fun-22&linkId=b73336026353f211400d68f588761dbb"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4797377623&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=4797377623" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />