---
title:"Mac容量が少なくなったら、xcode関連のいらないファイルを削除する"
date:"2018-11-03"
category:"blog"
---
ボトルネックを探す。だいたいライブラリが容量をくっている。

`sudo du -h -d 1 ~`

xcodeで開発していると、下記フォルダ内が溜まっていくので定期的に削除してあげる。

```
~/Library/Developer/Xcode/Archives/

~/Library/Developer/Xcode/DerivedData/
```

シミュレーター関連もクリーンする。
参考:
http://tech.andhandworks.com/2017/06/xcode.html

```
xcrun simctl erase all
sudo xcrun simctl delete unavailable
```

xcodeだけでなく、Android Studioも使っているとこのようにOSイメージが溜まっていくようだ。必要のないのはバージョンは削除してしまおう。
image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181103/20181103183300.jpg