@charset "UTF-8";

/**********************************
リセット設定
**********************************/
body, h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
    word-wrap: break-word;
}
a {
    text-decoration: none;
    color: #014d94;
}

  a:hover {
    color: #168eff;
  }
  /**********************************
横並びメニュー
**********************************/
#header {
    background: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
}
#header.kamityping {
    background-image:url(/images/kamityping-icon-1024.jpg);
    background-position: center right;
    background-size: cover;
}
#header.chazuke {
    background-image:url(/images/chazuke-icon-1024.jpg);
    background-position: center center;
    background-size: cover;
}
#header.harmonize {
    background-image:url(/images/harmonize-icon-1024.jpg);
    background-position: center left;
    background-size: cover;
}
#header.blog {    
    background-image:url(/images/germany-park.jpg);
    /* background-image:url(/images/camp-fire.jpg); */
    background-position: center center;
    background-size: cover;
}
#header.acoustic {
    background-image:url(/images/oscillator2.jpg);
    background-position: center center;
    background-size: cover;
}

#header.about {
    background-image:url(/images/sunset-in-paris.jpg);
    background-position: center center;
    background-size: cover;
}
#header.apps {
    /* background-image:url(https://apppppp.com/1/polyrhythm/blind.jpg); */
    background-image:url(/images/germany-market.jpg);
    background-position: center center;
    background-size: cover;
}



#header .layerTransparent {
    background: rgba(0,0,0,0.6);
}
#header h1 {
    font-family: 'Corben', cursive;
    margin:0px 30px;
    font-size:2.3em;
    text-align: center;
    width: 100%;    
/* コードがはみ出すのを折り返す */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -pre-wrap;     /* Opera 4-6 */
white-space: -o-pre-wrap;   /* Opera 7 */
white-space: pre-wrap;      /* CSS3 */
word-wrap: normal;      /* IE 5.5+ */

}
.nav {
    list-style: none;
    overflow: hidden;
    padding:0;
    padding-top:10px;
    margin:0 30px;
  }
  
  .nav li {
    padding: 5px 0; 
  }

  .nav li a {
    /* font-family: "PT Sans", Helvetica, Arial, sans-serif; */
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: 1.3em;
  }

  #header h1 {
    margin: 0;
  }
  #header a {
    color: #fff;
  }
  #header a:hover {
    color: #ccc;
  }
  #header .copyright {
    color: #ccc;
    padding: 20px 0;
    text-align: center;
}

@media screen and (min-width: 700px) {
    #header {
        position: fixed;
        top:0px;
        bottom:0px;
        text-align: left;
        width:300px;
    }   
    #header .layerTransparent {
        position: fixed;
        top:0px;
        bottom:0px;
        text-align: left;
        width:300px;
    }
    #header h1 {
        margin:30px 30px;
        text-align: left;
    }
    #header .container {
        position: absolute;
        bottom: 50px;
        width:300px;
        
    }
    #header .container h1 {
        width:270px;
    }    
    .nav li a {
        text-align: left;
    }
    
    #header .copyright {
        padding: 30px 30px 0;
        text-align: left;
    }
}


/**********************************
コンテンツ
**********************************/
body {
    background-position: center top;
    background:#eee;
    /* background:#EDEDED; */
    color: #404040;
    font-size:16px; /* 16pxがブラウザ標準 */
    /* font-family: "PT Sans", Helvetica, Arial, sans-serif; */
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}


#container {
    width: 100%;
}

#contents {
    /* border-radius: 15px; */
    margin-bottom:30px;
    background:#FFF;
    max-width: 720px;
    margin:0;
    padding: 30px 20px;
}

@media screen and (min-width: 700px) {
        #contents {
        margin-left:300px;
        padding: 1.618em 3.236em;
    }   
}

@media screen and (min-width: 1000px) {
        #contents {
        margin-left:300px;
        padding: 1.618em 3.236em;
    }   
}

#contents .tag button, #contents .tag a {
    outline: none;
    padding: 0;
    border:1px solid #888;
    background:transparent;
    padding:5px 15px;
    font-size: 0.9em;
    color:#888;
    border-radius: 5px;
    margin-right:5px;
    margin-bottom:5px;
}
.tagHighlight {
    color:#fff !important;
    border:1px solid #333 !important;
    background: #333 !important;
}
#contents .tag button:hover, #contents .tag a:hover {
    color:#fff;
    border:1px solid #333;
    background: #333;
    cursor: pointer;
}

/**********************************
リスト表示
**********************************/
article .list .time {
    text-align: left;
}
article .list h3 {
    margin-bottom:30px;
}

/**********************************
article内設定
**********************************/
article {
    line-height: 1.8em;
}
article h1 {
    font-size:1.3em;
    line-height: 1.5em;
    padding:20px 0 10px;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
article h2 {
    font-size:1.2em;
    padding:0 0 10px;
}
article h3 {
    font-size:1.1em;
    padding:0 0 10px;
}
article h4 {
    font-size:1.0em;
}
article .time {
    font-size:0.8em;
    color: #888;
    text-align: right;
}
article img {
    border-radius: 8px;
    margin-bottom:20px;
}

article blockquote {
    border-left:#ddd solid 5px;
    padding-left:10px;
    margin:0px;
}
@media screen and (min-width: 700px) {
    article .time {
        /* max-width: 800px; */
    }   
    article h1 {
        font-size:1.6em;
    }
    article h2 {
        font-size:1.3em;
        margin:0 0 20px;
    }
    article h3 {
        font-size:1.1em;
    }    
}
article pre.code {    
    margin:10px 0px;
    font-size: 0.75em;
    line-height: 1.3em;
    color: #e3e3e3;
    background: #364549;
    padding:10px 10px 20px;
    width:95%;
    overflow: auto;
    /* max-height:250px; */
/* コードがはみ出すのを折り返す */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: pre-wrap;      /* CSS3 */
    word-wrap: break-word;      /* IE 5.5+ */
    border-radius: 3px;
}
/* article pre.code span {
    float: left;
    display: block;
    counter-increment: linenumber;
    width: 100%;
    overflow: hidden;
}
article pre.code span::before {
    content: counter(linenumber);
    padding-right:15px;
    color:#888;
} */
article .codeInline {
    background: #f5f7f8;
    border: 1px solid #eee;
    padding:5px 10px;
    margin:0px 5px;
    color:#333;
    border-radius: 3px;
    font-size:0.9em;
}

article img.default {
    width:100%;
}

article iframe {
    width:100%;
}
table {
    border-collapse: collapse;
    /* border: 1px solid #CCC; */
    font-size: 0.8em;
  }
   
  th, td {
    padding: 5px 10px;
  }
  th {
    border-bottom: 1px solid #333;
    /* background: #EEE; */
  }
  td {
    border-bottom: 1px solid #CCC;
  }
   
@media screen and (min-width: 500px) {
    article img.default {
        width:90%;
    }   
}

@media screen and (min-width: 1000px) {
    article img.default {
        max-width:400px;
    }   
}

@media screen and (min-width: 700px) {
    article iframe {
        width: 560px;
    }
    article pre {
        width:80%;
    }
}

/**********************************
toc目次
**********************************/
ul#toc {
    list-style: none;
    padding:10px 20px 5px;
    width:80%;
    background:#f5f7f8;
    border:1px #ccc solid;
    border-radius: 5px;
    margin-bottom: 50px;
    font-size: 0.85em;
}
ul#toc a {
    text-decoration: underline;
}
ul#toc li {
    margin-bottom:5px;
}

/**********************************
アプリダウンロード表示
**********************************/
.app-download {
    overflow: hidden;
}
.app-download img {
    display: block;
    margin-right:10px;
    margin-bottom:10px;
    border-radius: 35px;
    border: #ccc 1px solid;
}
.app-download a {
    display: block;
    color: #fff;
    width: 200px;
    text-align: center;
    margin-right:10px;
    margin-top:10px;
    float: left;
    border-radius: 15px;
    padding:5px 0px 10px;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 2.2em;
}
.app-download a span {
    display: block;
    font-size: 1.9em;
}
.app-download a.iOS {
    background: #111;
}
.app-download a.iOS:hover {
    background: #555;
}
.app-download a.Android {
    background: #35b116;
}
.app-download a.Android:hover {
    background: #8dce7d;
}
/**********************************
Amazonリンク
**********************************/
.amazon-item img {
    border-radius: 0;
}
.amazon-item a.button {
    display: block;
    color: #fff;
    width: 250px;
    text-align: center;
    margin-right:10px;
    margin-top:10px;
    border-radius: 15px;
    padding:10px 0;
    font-weight: bold;
    background: rgb(231, 180, 11);
    font-size: 1.2em;
}
.amazon-item a.button:hover {
    background: rgb(179, 137, 1);
}

/**********************************
シェアボタン
**********************************/
.shareList {
	list-style:none;
	display: flex;
	justify-content: flex-end;
	flex-wrap:wrap;
	padding:0;
    margin:-5px 0 0 -5px;
    max-width:500px;
}
.shareList__item {
	flex-grow: 1;
	height:50px;
	line-height:50px;
	min-width:50px;
	text-align:center;
	margin:5px 0 0 5px;
}
.shareList__link {
	display:block;
	color:#ffffff;
	text-decoration: none;
    border-radius: 5px;
}
.shareList__link::before{
	font-size:20px;
	display:block;
	transition: ease-in-out .2s;
}
.shareList__link:hover::before{
	background:#ffffff;
	transform: scale(1.2);
	box-shadow:1px 1px 4px 0px rgba(0,0,0,0.15);
}
 
.shareList__link.icon-twitter{background:#55acee;}
.shareList__link.icon-twitter:hover::before{color:#55acee;}
 
.shareList__link.icon-facebook{background:#3B5998;}
.shareList__link.icon-facebook:hover::before{color:#3B5998;}
 
.shareList__link.icon-google-plus{background:#dd4b39;}
.shareList__link.icon-google-plus:hover::before{color:#dd4b39;}
 
.shareList__link.icon-hatebu{background:#008FDE;}
.shareList__link.icon-hatebu:hover::before{color:#008FDE;}
 
.shareList__link.icon-pocket{background:#EB4654;}
.shareList__link.icon-pocket:hover::before{color:#EB4654;}
 
.shareList__link.icon-rss{background:#ff9900;}
.shareList__link.icon-rss:hover::before{color:#ff9900;}
 
.shareList__link.icon-feedly{background:#6cc655;}
.shareList__link.icon-feedly:hover::before{color:#6cc655;}
 
.shareList__link.icon-pinterest{background:#cb2027;}
.shareList__link.icon-pinterest:hover::before{color:#cb2027;}
 
.shareList__link.icon-linkedin{background:#0e76a8;}
.shareList__link.icon-linkedin:hover::before{color:#0e76a8;}
 
.shareList__link.icon-line{background:#1dcd00;}
.shareList__link.icon-line:hover::before{color:#1dcd00;}


/**********************************
吹き出し
* 吹き出し httpshttps://www.notitle-weblog.com/entry/fukidashi　*
* .クラス名::after {background-image:url(画像のURL);}
**********************************/
/* 吹き出し httpshttps://www.notitle-weblog.com/entry/fukidashi　*/
/* .クラス名::after {background-image:url(画像のURL);} */
.l-fuki, .r-fuki{
    position:relative;
    width:90%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding:20px;
    border-radius:6px;
    border:2px solid #999;
    box-shadow:1px 1px 5px #aaa;
    background-color:#fff;
    z-index:1
}
@media screen and (min-width: 700px) {
    .l-fuki, .r-fuki{
        width:70%;
    }   
}
@media screen and (min-width: 1000px) {
    .l-fuki, .r-fuki{
        width:60%;
    }   
}

.l-fuki{margin:20px 20% 40px 0}
.r-fuki{margin:20px 0 40px 19%}
.l-fuki::before, .r-fuki::before{
    position:absolute;
    content:"";
    top:16px;
    width:10px;
    height:10px;
    border-right:2px solid #999;
    border-bottom:2px solid #999;
    background-color:#fff;
    z-index:2
}
.l-fuki::before{
    right:-7px;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg)
}
.r-fuki::before{left:-7px;transform:rotate(135deg);
    -webkit-transform:rotate(135deg)}
    .l-fuki::after, .r-fuki::after{
        position:absolute;
        content:"";
        width:80px;
        height:80px;
        top:-10px;
        border-radius:40px;
        border:3px solid #fff;
        background-size:cover;
        background-position:center center;
        background-repeat:no-repeat;
        box-shadow:1px 1px 5px #aaa
    }
    .l-fuki::after{right:-110px}
    .r-fuki::after{left:-110px}
    @media screen and (max-width:620px){
        .l-fuki, .r-fuki{width:70%}
        .l-fuki{margin-right:30%}
        .r-fuki{margin-left:30%}
    }
    @media screen and (max-width:478px){
        .l-fuki::after, .r-fuki::after{
            width:60px;height:60px;border-radius:30px
        }
        .l-fuki::after{right:-84px
        }
        .r-fuki::after{left:-84px}
    }
    .ebi-tere::after{background-image:url(https://images.weserv.nl/?url=apppppp.com/1/harmonize/ebi-tere.png&w=300&h=300&t=letterbox&bg=white)}
    .ebi-niko::after{background-image:url(https://images.weserv.nl/?url=apppppp.com/1/harmonize/ebi-niko.png&w=300&h=300&t=letterbox&bg=white;)}
    .ebi-ase::after{background-image:url(https://images.weserv.nl/?url=apppppp.com/1/harmonize/ebi-ase.png&w=300&h=300&t=letterbox&bg=white)}
    .ebi-kita::after{background-image:url(https://images.weserv.nl/?url=apppppp.com/1/harmonize/ebi-kita.png&w=300&h=300&t=letterbox&bg=white)}
    .kaki-niko::after{background-image:url(https://images.weserv.nl/?url=apppppp.com/1/harmonize/kaki-niko.png&w=300&h=300&t=letterbox&bg=white)}
    .kaki-futu::after{background-image:url(https://images.weserv.nl/?url=apppppp.com/1/harmonize/kaki-futu.png&w=300&h=300&t=letterbox&bg=white)}

/**********************************
フッターprev nextリンク
**********************************/

    #prevNext {
        list-style: none;
        overflow: hidden;
        padding:0;
        margin:50px 0px;
      }
      
      #prevNext li {
        padding: 10px 15px; 
        float: left;
        display: block;
      }

    
      #prevNext li a {
        display: block;
        text-decoration: none;
      }
      @media screen and (min-width: 700px) {
        #prevNext li {
            max-width:280px;
          }
          #prevNext li.prev {
            border-right:1px solid #ccc;
        }
    }
    
/**********************************
タグクラウド用
**********************************/

    #tag_cloud{
        margin-top:50px;
    }
    #tag_cloud div span {
        display: block;
    }
    #tag_cloud div {
    
        text-decoration: none;
        color: inherit;
        font-size: 0.8em;
        display: inline-block;
        padding: 5px 15px;
        margin: 2px 3px;
        word-wrap: break-all;

        background: #eee;
        border-radius: 15px;
        cursor: pointer;
    }

    .link_show {
        visibility: visible !important;
        position: relative !important;
    }

    .link_hide {
        visibility: hidden !important;
    }

    #tag_cloud div a {
        display: block;
        padding: 3px 0;
        color: inherit;
    }

    #tag_cloud div .link {
        visibility: hidden;
        /* background: #FFF; */
        position: absolute;
        /* border: 1px solid #eee; */
        padding: 5px 10px;
        /* border-radius: 5px; */
    }

    .thumbnail img {
        border-radius: 40px;
        height: 80px;
        width: 80px;
      }