---
title:"プログラミングで使う句読点(Punctuation marks)の読み方"
date:"2018-05-09"
category:"blog"
---
プログラミングなどで使う特殊記号の読み方を覚えておけば英語で検索する時に役立つと思います。
※下記の読み方はアメリカ英語、イギリス英語が混在しています。

## Punctuation marks
| Symbol | Name                          |
| ------ | ----------------------------- |
| '      | apostrophe                    |
| [ ]    | square brackets               |
| ( )    | round brackets                |
| { }    | french braces, curly brackets |
| < >    | angle brackets                |
| :      | colon                         |
| *      | asterisk                      |
| \      | backslash                     |
| ,      | comma                         |
| -      | hyphen, hyphen-minus          |
| ...    | ellipsis points               |
| !      | exclamation mark,  bang       |
| .      | period, full stop             |
| ?      | question mark                 |
| " "    | quotation marks               |
| ' '    | single quotation marks        |
| ;      | semicolon                     |
| /      | slash, stroke                 |
| &      | ampersand                     |
| @      | at sign                       |
| $     | dollar sign           |
| ^      | caret                         |
| •      | bullet                        |
| =      | equals sign                   |
| ×      | multiplication sign           |
| #      | number sign, pound, hash      |
| ÷      | obelus                        |
| %      | percent, per mil              |
| +      | plus                          |
| -      | minus                         |
| ~      | tilde                         |
| _      | underscore, understrike       |
| `      | grave accent, back quote      |


参考:
http://sana.aalto.fi/awe/punctuation/symbols.html
https://en.wikipedia.org/wiki/Punctuation
https://qiita.com/yhay81/items/42f2baf6a0d6b1078578
