---
title:"世界26ヶ国のiOSとAndroidのシェア率を比較してみた"
date:"2018-07-31"
category:"blog"
---
image:/images/world-ios-android-share-part1.jpg

アプリ開発者ならば誰もが自分のアプリを世界にも広めたいと思い、気合いを入れてローカライズや翻訳にお金をかけるこたことがあるのではないだろうか。しかし、もしもその国でAndroidが圧倒的なシェアなのに、iPhoneアプリに力を入れて売り出そうとしても無駄な努力となってしまうだろう。そこで自戒の念も込めてだが、世界各国でiOSとAndroidがどのくらいの割合でシェアされているのか調べてみることにした。

グラフのデータはStatCounterから拾ってきたものだ。2017年6月から2018年6月までを、フィルタリングしたデータである。表に書き出したシェア率は2018年6月時点でのグラフの値を、目分量で読み取ったものになる。また、最後にまとめたデータを記しておいた。
http://gs.statcounter.com/

## 各国のデータ

### アメリカ
image:/images/research-us.jpg
| iPhone | Android |
| ------ | ------- |
|    53%    | 47% |


### イギリス
image:/images/research-uk.jpg
| iPhone | Android |
| ------ | ------- |
| 46%    | 53%     |

ほぼ半々である。


### アイルランド
image:/images/research-is.jpg
| iPhone | Android |
| ------ | ------- |
| 40%    | 58%     |

もともと半々の感じだったが、Androidが勢いをましている。


### インド
image:/images/research-in.jpg
| iPhone | Android |
| ------ | ------- |
| 3%     | 90%     |

Android一強。iPhoneは捨てでいいんじゃないだろうか。


### カナダ
image:/images/research-ca.jpg
| iPhone | Android |
| ------ | ------- |
| 54%    | 46%     |


### ドイツ
image:/images/research-de.jpg
| iPhone | Android |
| ------ | ------- |
| 28%    | 71%     |

EU最大の経済圏。


### 中国
image:/images/research-cn.jpg
| iPhone | Android |
| ------ | ------- |
| 21%    | 77%     |

ICPライセンスの問題がある。


###  台湾
image:/images/research-tw.jpg
| iPhone | Android |
| ------ | ------- |
| 40%    | 60%     |


### 韓国
image:/images/research-kr.jpg
| iPhone | Android |
| ------ | ------- |
| 27%    | 72%     |

Samsungの国。圧倒的なAndroidシェア率だが、最近はiPhoneが徐々に盛り返している。
日本語の文法ともかなり似ているためGoogle翻訳の精度は高い。


### ロシア
image:/images/research-ru.jpg
| iPhone | Android |
| ------ | ------- |
| 24%    | 75%     |

固有名詞も文節によって語形変化するためハードルが高そうだ。


### フランス
image:/images/research-fr.jpg
| iPhone | Android |
| ------ | ------- |
| 28%    | 71%     |


### イタリア
image:/images/research-it.jpg
| iPhone | Android |
| ------ | ------- |
| 23%    | 75%     |


###  スペイン
image:/images/research-es.jpg
| iPhone | Android |
| ------ | ------- |
| 20%    | 80%     |


### ブラジル
image:/images/research-br.jpg
| iPhone | Android |
| ------ | ------- |
| 15%    | 84%     |


### タイ
image:/images/research-th.jpg
| iPhone | Android |
| ------ | ------- |
| 18%    | 82%     |


### マレーシア
image:/images/research-my.jpg
| iPhone | Android |
| ------ | ------- |
| 15%    | 84%     |


### フィンランド
image:/images/research-fi.jpg
| iPhone | Android |
| ------ | ------- |
| 28%    | 69%     |

ノキアの国。いまでは懐かしい。


### スウェーデン
image:/images/research-se.jpg
| iPhone | Android |
| ------ | ------- |
| 52%    | 48%     |

ABBAの国スウェーデン。なかなかいい感じにiPhoneが使われている。


### ノルウェー
image:/images/research-no.jpg
| iPhone | Android |
| ------ | ------- |
| 52%    | 48%     |

同じく北欧のノルウェー。スウェーデンと似た感じで、しかもグラフの推移の形までもが似ている。


### オーストラリア
image:/images/research-au.jpg
| iPhone | Android |
| ------ | ------- |
| 53%    | 46%     |
英語圏でiPhone利用率が結構多い。見逃せない。


### 香港
image:/images/research-hk.jpg
| iPhone | Android |
| ------ | ------- |
| 45%    | 55%     |


### エジプト
image:/images/research-eg.jpg
| iPhone | Android |
| ------ | ------- |
| 10%    | 90%     |


### ニュージーランド
image:/images/research-nz.jpg
| iPhone | Android |
| ------ | ------- |
| 38%    | 59%     |

密かにLinuxが上昇している。気になる。


### アラブ首長国連邦
image:/images/research-ae.jpg
| iPhone | Android |
| ------ | ------- |
| 19%    | 65%     |

Unknowの内訳が気になる。


### シンガポール
image:/images/research-sg.jpg
| iPhone | Android |
| ------ | ------- |
| 8%     | 85%     |

いったい何があったのか2017年10月に。iPhone失墜。


### 日本
image:/images/research-jp.jpg
| iPhone | Android |
| ------ | ------- |
| <b>67%</b>   | 33%      |

最後に日本はどうかというと、iPhoneシェア率が例を見ないほど高い。


## まとめるとこうなる
| 国名             | iPhone | Android |
| ---------------- | ------ | ------- |
| アメリカ         | 53%    | 47%     |
| イギリス         | 46%    | 53%     |
| アイルランド     | 40%    | 58%     |
| インド           | 3%     | 90%     |
| カナダ           | 54%    | 46%     |
| ドイツ           | 28%    | 71%     |
| 中国             | 21%    | 77%     |
| 台湾             | 40%    | 60%     |
| 韓国             | 27%    | 72%     |
| ロシア           | 24%    | 75%     |
| フランス         | 28%    | 71%     |
| イタリア         | 23%    | 75%     |
| スペイン         | 20%    | 80%     |
| ブラジル         | 15%    | 84%     |
| タイ             | 18%    | 82%     |
| マレーシア       | 15%    | 84%     |
| フィンランド     | 28%    | 69%     |
| スウェーデン     | 52%    | 48%     |
| ノルウェー       | 52%    | 48%     |
| オーストラリア   | 53%    | 46%     |
| 香港             | 45%    | 55%     |
| エジプト         | 10%    | 90%     |
| ニュージーランド | 38%    | 59%     |
| アラブ首長国連邦 | 19%    | 65%     |
| シンガポール     | 8%     | 85%     |
| <b>日本</b>             | <b>67%</b>   | <b>33%</b>      |

## 思ったこと
気になった国を思いつきで調べてみたが、各国それぞれ違いがあり、世界と言ってもひとくくりには出来ない。それに、これらの値をそのまま使うのはいささか乱暴だろう。国によってスマートホンの普及率は違うだろうし、回線のインフラが十分でない国もまだまだある。年齢分布や通勤の仕方も違えばスマートフォンの使い方も違ってくるだろう。

国のことを調べるほどローカライズの深さを知ることとなり、難しくなっていきそうだ。

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/4862463916/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4862463916&linkCode=as2&tag=101010fun-22&linkId=cf4bad71c9a3b1000537b48ddb0d7fd2"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4862463916&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=4862463916" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />