---
title:"ポジション移動とシフティングをアプリで練習！音程をバッチリ取れるようになるために"
date:"2016-02-01"
category:"apps"
---
シフティング練習のためのアプリを開発しました。音程が悪いと思ったときに重宝しますよ。
このアプリはピアノの２音間のガイド音をリピートして鳴らしてくれます。
最初の一小節目はガイド音に合わせてシフティングしながらポジション移動します。二回目は先ほどのガイド音をイメージしてシフティングすることで指板の位置と音程を結びつけて覚えさせることができます。

楽器の音程ガイド バイオリン・ヴィオラ・チェロ・コントラバス
https://play.google.com/store/apps/details?id=com.apppppp.shifting

またコントラバス用ですが、音程練習動画も作りましたのでご活用ください。
<iframe width="560" height="315" src="https://www.youtube.com/embed/VZQ83ZakFB8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/0IM3am2NcWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>