---
title:"Notification Memo - To-Do List iPhone app for Task Management"
date:"2018-09-13"
category:"apps"
app-id:"1435873085"
---
image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180916/20180916165105.jpg
_This page is translated by Google Translate._


## Introduction
image:/images/super-memo-dessin1.jpg

You have time to shop while watching smartphone's notepad?
But this work was bothersome.
Take out the iPhone, unlock it by pressing the Home button, open the desired memo app, check what you bought.
During shopping it is often one-handed work, and it is something annoying even for getting out and taking out the iPhone many times. Besides, it was rather troublesome to open the target memo app.
Therefore, I tried to create an application that can display notes in the notification center and manage them.

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180912/20180912121333.gif

You can check notes at the notification center without activating the memo app in this way. Then you can swipe left to delete the completed task.

{{memo_download}}

## How to Use?
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180912/20180912120442.jpg

The display method to the notification center is simple. Just type the memo and press the tag button.

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180912/20180912120459.jpg

Of course you can add and edit tags as well.
Download the application from here.


## Not displayed in notification center.
To display the memo to the notification center with this application, it is necessary to give permission from the notification center.
The procedure is described below.

1. Open the iPhone Settings application.
2. Click the "Notifications" item.
3. In the list of applications, click this application "Memo" and click it.
4. Please "Allow Notifications" like the image below. 
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180912/20180912120727.jpg


## The notification center is not displayed on the lock screen from iOS 12.
You need to swipe up on the screen to display the notification center on the lock screen of iOS12.

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181031/20181031094743.png

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181031/20181031094748.png

{{memo_download}}