---
title:"【iPhoneアプリ】スーパーメモ - 通知センターを利用したメモ管理"
date:"2018-09-13"
category:"apps"
app-id:"1435873085"
---
image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180916/20180916164326.jpg

## はじめに
image:/images/super-memo-dessin1.jpg

スマホのメモ帳を見ながら買い物する時ってありますよね？

バッグからiPhoneを取り出して、ホームボタンを押して、ロック解除して、目的のメモアプリを開いて、購入リストを確認して。。。

とってもわずらわしい作業に買い物どころではなく、アプリ作業に翻弄されてしまいます。

買い物中は片手で操作せざるをない状況ですから。何度もiPhoneを出したりしまったりしたくないですよねぇ。その上、目的のメモアプリを開くとなるとかなり面倒でした。

そこで、通知センターを利用してロック画面にメモを表示して管理できるアプリを作ってみました。

{{memo_download}}

下の画像のように、メモアプリを起動せずロック画面でメモを確認することができます。完了したタスクは左へスワイプして削除することができます。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180912/20180912114904.gif


## アプリの使い方
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180912/20180912112147.jpg

ロック画面へメモを表示する方法はいたって簡単、シンプルです。メモを入力して、お好きなタグボタンを選ぶだけ。タグは自分のライフスタイルに合わせてお好みに追加、編集できるようになっています。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180912/20180912112203.jpg


## 通知センターに表示されない場合
本アプリでメモを通知センターへ表示するには、通知センターの許可を行う必要があります。

以下手順を説明します。

1. iPhoneの設定アプリを開きます。
2. 「通知」の項目をクリックします。
3. アプリの一覧の中から、本アプリ「スーパーメモ」を探しクリックします。
4. 下の画像のように「通知を許可」をしてください。

image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180912/20180912115644.jpg


## iOS12からロック画面に表示されない
iOS12のロック画面で通知センターを表示するには、画面上を<b>上にスワイプ</b>する必要があります。
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181031/20181031094743.png
image300:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20181031/20181031094748.png

{{memo_download}}