---
title:"Super Memo - Privacy Policy"
date:"2018-10-30"
category:"apps"
app-id:"1435873085"
---
image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180916/20180916165105.jpg

## Privacy Policy
(I) We don’t get excessive personal information.
(II) We can get personal information because we hold internet connection for advertisement.

## プライバシーポリシー
(I)このアプリから第三者に提供される利用者情報はありません。
(II)広告表示へ接続するためにネットワークアクセスを行います。 

{{memo_download}}