---
title:"Swift4でUITalbeViewの最下部にスクロールしたい"
date:"2018-05-21"
category:"blog"
---
image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180801/20180801111254.png

最下部にスクロールするには`scrollToRow`を使うが、`tableView.reloadData()` 後すぐに実行すると正しくスクロールできない。
タイマーでタイミングを少しずらすことでうまくいった。
```
//tableViewに追加する処理をした後

tableView.reloadData()

DispatchQueue.main.asyncAfter(deadline: .now() + 0.1) {
    self.tableView.scrollToRow(at: IndexPath(row: self.items.count - 1, section: 0), at: UITableViewScrollPosition.bottom, animated: true)
}
```

<a target="_blank"  href="https://www.amazon.co.jp/gp/product/477419414X/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=477419414X&linkCode=as2&tag=101010fun-22&linkId=3293e410b5b6d910a78f78aeb9e0a67e"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=477419414X&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=101010fun-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=101010fun-22&l=am2&o=9&a=477419414X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />