---
title:"東京都の図書館にある資料をざっと調べる方法"
date:"2018-09-10"
category:"blog"
---
図書館で資料を検索するとき、自分の住まいの区に探している資料がなくても、他の区に存在するかもしれない。
そんな時、探している資料を都内にある複数の図書館をまとめて検索できないかと調べていたら、このようなサービスを見つけた。
https://calil.jp/local/tokyo:title

image:https://cdn-ak.f.st-hatena.com/images/fotolife/a/araemonz/20180910/20180910143307.jpg

TOPページから検索すれば、借りることができる資料を全国から検索できるようになっている。
https://calil.jp/

ちなみに東京都にある図書館はざっとこれだけ存在する。
https://www.library.metro.tokyo.jp/lib_info_tokyo/public/list/


## その他の方法
国会図書館を利用する手もある。ほとんどの資料が存在するのではないだろうか？
ただし、CDなどのコピーはできない。
http://iss.ndl.go.jp/